<div class="page-wrapper">
  <h2>Sve opstine</h2>

  <div class="mat-elevation-z8 table-wrapper">
    <table mat-table [dataSource]="dataSource">
  
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <!-- ptt Column -->
      <ng-container matColumnDef="ptt">
        <th mat-header-cell *matHeaderCellDef> ptt </th>
        <td mat-cell *matCellDef="let element"> {{element.ptt}} </td>
      </ng-container>
  
      <!-- naziv Column -->
      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef> Naziv </th>
        <td mat-cell *matCellDef="let element"> {{element.naziv}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>



